<h1 class="title">EMPRESA</h1>
<mat-divider></mat-divider>

<section>
  <div class="example-button-row">
    <button mat-raised-button (click)="openDialog()" color="primary">
      Criar
    </button>
    <button mat-raised-button disabled>Excel</button>
    <button mat-raised-button disabled>PDF</button>
  </div>
</section>

<div class="wrapper-form">
  <p>
    <mat-form-field class="input-search" appearance="outline">
      <mat-label>PROCURAR</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="" #input />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </p>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="companyId">
        <th
          class="head-title"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          ID
        </th>
        <td mat-cell *matCellDef="let row">{{ row.companyId }}</td>
      </ng-container>

      <ng-container matColumnDef="companyName">
        <th
          class="head-title"
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        >
          Empresa
        </th>
        <td mat-cell *matCellDef="let row">{{ row.companyName }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th class="head-title" mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let row">
          <button
            mat-mini-fab
            (click)="editCompany(row)"
            aria-label="Example icon button with a home icon"
            style="background-color: #fec260"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            mat-mini-fab
            aria-label="Example icon button with a home icon"
            (click)="openRemoveDialog(row)"
            color="accent"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [length]="200"
      [pageSizeOptions]="[10, 50, 100]"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>
</div>
<mat-divider></mat-divider>
